body * {
    font-family:Tahoma,Verdana,sans-serif;
    font-size:10pt;
}
body {
    background-color:#fff;
}
@media screen {
    canvas#GeometryId {
        float:left;
    }
}
@media print {
    body {
        margin:0;
        background-color:#fff !important;
    }
    canvas#GeometryId {
        float:none;
        clear:both;
    }
}

h1 {
    background-color:#fff;
    border-radius:5px;
    padding:10px;
    clear:both;
}

#NotesTableContainerId {
    float:left;
    display:inline-block;
    background-color:#fff;
    border-radius:5px;
    border-color:1px solid green;
    padding:5px;
    margin:0 10px 5px 0;
    min-width:475px;
}

table.tone-list {
    width:100%;
    border-spacing:0;
    border-collapse:separate;
}
table.tone-list tr:nth-child(2) td {
    border-top:1px solid #777;
}
table.tone-list td {
    border:solid black;
    border-color:#fff #000 #000 #777;
    border-width:1px;
    height:20px;
    padding:0 10px;
}
table.tone-list td:first-child {
    min-width:130px;
    border-right:0;
    border-left-style:solid;
    border-top-left-radius:5px; 
    border-bottom-left-radius:5px;
    padding-right:0;
}
/*
@media print {
    table.tone-list td:first-child :not(div) {
        writing-mode:vertical-rl;
    }
}
*/
table.tone-list td:first-child div {
    float:right;
    position:relative;
    width:50%;
    right:0px;
    bottom:10px;
    padding:0 10px;
    background-color:#000;
    color:#fff;
    border-top-left-radius:5px; 
    border-bottom-left-radius:5px;
}
table.tone-list td:last-child {
    border-right:solid black 1px;
}
table.tone-list td small {
    font-size:70%;
    vertical-align:sub;
}
table.tone-list td.spacer {
    background-color:#fff;
    border-width:0 0 0 1px;
    width:10px;
    padding:0;
}
table.tone-list td span.step {
    font-size:70%;
}
table.tone-list .pianonote {
    background-color:white;
}
table.tone-list .micronote {
    background-color:rgb(128,128,192);
}
table.tone-list td:nth-child(3),
table.tone-list td:nth-child(5)
{
    font-size:85%;
}

table tr:hover td {
    border-top-color:red;
    border-bottom-color:red;
}
table tr:hover td:first-child {
    border-left-color:red;
}
table tr:hover td:last-child {
    border-right-color:red;
}
table tr:hover td.spacer {
    border-width:1px 0 1px 1px;
}

#OptionsId {
    float:left;
    width:365px;
    z-index:10;
    background:#fff;
    border-radius:5px;
    padding:0 4px 4px 4px;
    margin:0 10px 5px 0;
}
#OptionsId legend {
    font-weight:bold;
}
#OptionsId fieldset input, #OptionsId fieldset select {
    margin:2px auto;
    width:50%;
}
#OptionsId fieldset input[type="checkbox"] {
    margin:2px 2px 6px 6px;
    width:auto;
}
#OptionsId #ResetId {
    clear:both;
    margin-top: 10px;
}
#OptionsId .info span {
    font-weight:bold;
}
#OptionsId #NotesListId {
    padding-left:1em;
}
#OptionsId #NotesListId span {
    line-height:2em;
    margin-left:-1em;
}
#OptionsId #ChordsListId {
    min-height:50px;
}
@media print {
    #OptionsId {
        right:0px;
        width:290px;
    }
    #OptionsId fieldset {
        padding:5px;
        margin:0;
    }
    #OptionsId button, #OptionsId input[type="range"] {
        display:none;
    }
}
